﻿@{
    ViewData["Title"] = "MethodNotAllowed Exception";
}

<div class="mx-auto text-center">
    <h1 class="text-danger">Method not allowed Exception</h1>
</div>
<br />
<a class="btn btn-warning" asp-action="Index" asp-controller="Home">Back to Home</a> 