﻿@{
    ViewData["Title"] = "NotFound Exception";
}

<div class="mx-auto text-center">
    <h1 class="text-danger">Page Not Found</h1>
</div>
<br />
<a class="btn btn-warning" asp-action="Index" asp-controller="Home">Back to Home</a>
